*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', Times, serif;
}

body{

    background: rgb(250, 218, 131);
    color: rgb(12, 12, 11);
    padding: 30px;
}
header{
    background: #abe030;
    padding: 15px;
    border-radius: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
nav y a {
    color: rgba(12, 225, 233, 0.384);
    text-decoration: none;
}

nav a:hover{
    color:rgb(red, green, blue)
}

section{
    background: rgba(218, 191, 191, 0.651);
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}
article{
    margin-top: 10px;
    padding: 10px;
    background: rgb(red, green, blue);
    border-radius: 5px;
}
footer{
    margin: 20px;
    padding: 15px;
    background: #ca9898;
    color: rgb(59, 211, 59);
    border-radius: 10px;
    text-align: center;
}
footer a{
    color: rgb(red, green, blue);
    margin: 10px;
    text-decoration: none;
}
footer a:hover{
    color: rgb(12, 214, 56);
}




